<div class="wrapper">

<h1>👁️ BingeWatch</h1>

<p>👇 Choose One 👇</p>
  <div class="category__container">
    <button (click)="selectCategory('movies')" [ngClass]="{ 'selected': selectedCategory === 'movies' }" style="padding: 1rem; font-size: 2rem;">Movies</button> 
    <button (click)="selectCategory('tvshows')" [ngClass]="{ 'selected': selectedCategory === 'tvshows' }" style="padding: 1rem; font-size: 2rem;">TV Shows</button>
  </div>

<!-- <div *ngIf="showFeelingSection"> -->
<div>
  <p>How are you feeling right now ?</p>
  <div class="mood-container">
    <button 
        *ngFor="let mood of moods" class="mood-button">
      {{ mood }}
    </button>
  </div>
</div>

</div>